<h1>Angular Router App</h1>

<nav>
  <ul>
    <li><a routerLink="./login" routerLinkActive="active">Login</a></li>
    <li><a routerLink="./products" routerLinkActive="active">Products</a></li>
    <li><a routerLink="./supplies" routerLinkActive="active">Supplies</a></li>
    <li><a routerLink="./supplier" routerLinkActive="active">Supplier</a></li>
    <li><a routerLink="./purchases" routerLinkActive="active">Purchases</a></li>
    <li><a routerLink="./customers" routerLinkActive="active">Customers</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
